@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Quicksand:400,700&display=swap&subset=latin-ext');

:root {
    --white: #F6F6F6;
    --grey: #E7E7E7;
    --dark: #160F66;
    --yellow: #F6C343;
    --red: #EE4323;
    --green: #1FB373;
    --blue: #6121F5;
}

html {
    min-width: 1000px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--white);
}

body {
    background-color: var(--dark);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: var(--grey);
    max-width: 960px;
    margin: 0 auto;
}

.google-slides-container {
    position: relative;
    width: 100%;
    padding-top: 60%;
    overflow: hidden;
}

.google-slides-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title {
    font-family: 'Quicksand', sans-serif;
    color: var(--white);
    font-size: 40px;
    margin: 20px auto;
}

a {
    text-decoration: none;
    position: relative;
    color: var(--yellow);
    font-family: 'Quicksand', sans-serif;
    line-height: 3vh;
}

a:after {
    content: '';
    display: block;
    border-bottom: calc(0.3em + 0.3vw) solid var(--yellow);
    width: 0;
    position: absolute;
    left: 0;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}

a:hover:after {
    width: 100%;
}

.clippy-balloon a {
    text-decoration: none;
    position: relative;
    color: var(--dark);
    font-family: 'Quicksand', sans-serif;
    line-height: 3vh;
}

.container {
    padding: 0 25px 25px 25px;
    max-width: 1000px;
    margin: 10px auto;
}

.info {
    font-family: 'Space Mono', monospace;
    font-size: 12px;
}

.card {
    background: var(--red);
    color: var(--white);
    border-left: 16px solid var(--yellow);
    padding: 10px;
}

.frame {
    display: block;
    width: 100%;
    height: 450px;
    min-width: 450px;
    margin: auto;
}

.full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 40px;
    padding-top: 0;
}